body {
    font-family: "Libre Baskerville";
    background-color: #3A98B9;
    color: #E8D5C4;
}

.book {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}
.book {
    background-color: #7DB9B6;
}
.content {
    font-size: large;
    color:#E8D5C4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content:hover {
    font-size: x-large;
}

.content a {
    color: #E8D5C4;
}

.author {
    font-size: large;
    font-style: italic;
}

.buttons {
    display: flex;
}

.delete-form {
    margin-left: 10px;
}

.trash_button {
    background-color: white;
    border: none;
}

footer {
    color: #EEEEEE;
    text-align: center;
}

nav {
    display: flex;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    font-weight: bold;
    color: #E8D5C4;
    padding-right: 15%;
}

.menu a {
    color: #EEEEEE;
    display: inline;
}

.menu li {
    padding: 0 10px;
}

.navLink:hover {
    font-size: larger;
}

form {
    display: grid;
    background-color: #7DB9B6;
    font-size: large;
}

.container {
    display: grid;
    background-color: #7DB9B6;
    font-size: large;
}

.container a {
    color: #E8D5C4;
    font-size: large;
}

.container a:hover {
    font-size: larger;
}

button {
    background-color: #3A98B9;
    font-size: large;
    color: #E8D5C4;

}

button:hover {
    font-size: larger;
}